.shared-navbar {
  background-color: $white;
  border-bottom: 2px solid $light-grey;
  padding: .5rem 0;

  @include media-breakpoint-down(sm) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding-top: 0;
  }

  .navbar {
    margin:0;
    @include media-breakpoint-down(sm) {
      display: none;
    }

    li {
      display: inline-block;
      list-style-type: none;
    }

    .container {
      @include media-breakpoint-down(sm) {
        padding-top: 0 !important;
      }
    }
  }
}

