.shared-navbar {
  background-color: $white;
  border-bottom: 2px solid $light-grey;


  .larger-devices {
    @include media-breakpoint-only(xs) {
      display: none !important;
    }
  }

  .xs-devices {
    display: none;

    h2 {
      margin: 0;
      font-size: 1.4rem;
    }

    @include media-breakpoint-only(xs) {
      display: block;
      padding: 1.4rem 1.5rem;
    }
  }
}
