// Color scheme
$black: #222;

$white: #FFFFFF;

$grey: #7F7F7F;
$light-grey: #F9F9F9;
$light-grey-1: #C7C7C7;
$dark-grey: #E5E5E5;

$green: #98A886;
$green-success: #1FA95B;

$red: #eb4559;

$pink: #FCA6A6;

$dark-blue: #3F4C6B;
$dark-blue-1: #28334F;
$light-blue: #91A2CB;


