// Color scheme
$black: #222;

$white: #FFFFFF;

$grey: #7F7F7F;
$light-grey: #F9F9F9;

$green: #98A886;

$red: #eb4559;

$pink: #FCA6A6;

$dark-blue: #3F4C6B;
$dark-blue-1: #28334F;
$light-blue: #91A2CB;


