// Import Google font
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,600,700&display=swap');


// Define fonts for body and headers
$body-font: "Montserrat", "Helvetica", "sans-serif";
$headers-font: "Questrial", "Helvetica", "sans-serif";
$logo-font: "Comfortaa", "Helvetica", "sans-serif";

h1 {
  font-size: 34px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 28px;
}


p {
  font-size: 24px;
}

.p-small {
  font-size: 18px;
}
// used for additional Infos at the bottom of pages, e.g. "Unhappy? Delete my account!"

.p-big{
  font-size: 28px;
}
// used for landing page explanatory infos_by Anouk

h1, h2, h3, p {
  margin: 0;
}





// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
