
******************
Welcome, Danny!
******************

Thanks for trying bibto.me. We’re thrilled to have you on board.

To get the most out of bibto, do this primary next step:

<button>Confirm mail address</button>

For reference, here's your login information:

Username:


If you have any questions, feel free to email our customer success team ( hello@bibto.me ).
Thanks,
sender_name_Value and the product_name_Value Team

P.S. Need immediate help getting started? Check out our help documentation ( bibto.me/faq ). Or, just reply to this email, the bibto-support team is always ready to help!

If you’re having trouble with the button above, copy and paste the URL below into your web browser.

<button>Confirm mail address</button>




© 2020 bibto.me. All rights reserved.

