.error-page {
  background-color: #1EDD88;
}

.error-code {
  text-align: center;
  padding: 10px 0;
  font-size: 150px;
  font-family: Helvetica;
}

.btn-go-back-error {
  background: $white;
  color: $c2;
  width:200px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  margin-top: 30px;
}

.error-text {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-family: Montserrat;
  color: white;

}

.error-image {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.error-box-404 {
  width: 300px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 30px;
  background-image: url('https://media.giphy.com/media/UoeaPqYrimha6rdTFV/giphy.gif');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

.error-box-500 {
  width: 300px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 30px;
  background-image: url('https://media.giphy.com/media/wZmCr7odNxKP6/giphy.gif');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

.error-btn {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
