.btn {
  text-transform: uppercase;
  font-size: .55555rem;
  font-weight: 500;
  color: $dark-blue;
  font-family: "Quicksand", "Lato", "sans-serif";
  @include media-breakpoint-between(xs, sm) {
    display: block;
    margin: 0 auto .6rem;
    padding: 1rem 0;
    font-size: 1.1rem;
  }

  @include media-breakpoint-only(xs) {
    width: 100%;
  }

  @include media-breakpoint-only(sm) {
    width: 40%;
  }


  &:focus {
    outline: 0 !important;
    box-shadow: none;
  }

  &-primary, &-info {
    color: $white;
  }
}

