.btn {
  text-transform: uppercase;
  // font-family: "Lato", "sans-serif";
  font-size: .5rem;
  // font-weight: 500;

  // BREAKPOINT
  // @include media-breakpoint-down(sm) {
  //   display: block;
  //   width: 50%;
  //   font-size: 1.1rem;
  //   margin: 1rem auto 0 auto;
  //   padding: .7rem 0;
  // }


  // BREAKPOINTS
  &-outline-primary, &-primary {
    // @include media-breakpoint-down(sm) {
    //   border-width: 2px;
    // }
  }

  &-margin-helper {
    // @include media-breakpoint-up(lg) {
    //   margin-top: 5rem;
    // }
  }

  &-size-helper {
    @include media-breakpoint-only(xs) {
      width: 76%;
    }
  }
}



// .isDisabled {
//   cursor: not-allowed;
//   pointer-events: none;
//   color: white;
//   opacity: 0.5;
//   text-decoration: none;
// }

// .isDisabled:hover {
//   color: white;
// }

