.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  background-color: $white;
  border: none;

  &-info {
    color: $light-blue;
    border-left: 4px solid $light-blue;
  }

  &-warning {
    color: $red;
    border-left: 4px solid $red;
  }
}
