.auth-session {
  height: 90vh;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  @include media-breakpoint-down(sm) {
    padding-top: 4rem;
    height: auto;
  }


  &-container {
    background-color: $white;
    width: 28%;
    padding: 0 0 2rem;
    @include media-breakpoint-down(sm) {
      width: 90%;
      // max-width: 360px;
      margin: 0;
      padding: 2rem 1.5rem;
    }


    h2 {
      margin: 2rem 0;
      text-align: center;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    p {
      text-align: center;
      color: $black;
      @include media-breakpoint-down(sm) {
        margin-bottom: 2rem;
        font-size: 1.4rem;
      }
    }

    .form-inputs {
      margin-top: .5rem;
      @include media-breakpoint-down(sm) {
        margin-top: 2rem;
        font-size: 1.2rem;
      }

      .form-control {
        font-size: .7rem;
        border-color: $light-grey-1;
        border-width: .5px;
        @include media-breakpoint-down(sm) {
          padding-top: 1.6rem;
          padding-bottom: 1.6rem;
          font-size: 1rem;
          border-width: 1px;
        }

        &:focus {
          border-color: $light-blue;
          outline: 0 !important;
          box-shadow: none;
        }

        &::placeholder {
          color: $light-grey-1;
        }
      }

      label {
        display: inline;
      }
    }

    .btn {
      width: 100%;
    }


    .devise-links {
      text-align: center;
      margin-bottom: 2rem;
      color: $black;
    }

    .info {
      color: $grey;
      margin: 1rem 0;
    }
  }
}

.sign-up-form {
  height: auto;

  .devise-links {
    margin-bottom: 1rem;
  }
}

.register-tag, .finder-input {
  @include media-breakpoint-down(sm) {
    padding-top: 6rem;
    height: 90vh;
  }

  .info {
    @include media-breakpoint-down(sm) {
      padding-top: 2rem;
    }
  }
}

.d-on-sm {
  h2 {
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
}


