<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-logo">
    <div class="bib-logo-footer">bibto.me</div>
    <div class="bib-logo-footer" id="bib-logo-footer-sub">bring it back to me</div>
  </div>
</div>
