<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 footer-logo-container">
        <%= image_tag("logo-white.png", alt: "Bibtome Logo", class: "logo logo-white") %>
        <p>Get your lost items returned easily, faster and securely. </p>
      </div>
      <div class="col-sm gutter-max">
        <h4>unternehmen</h4>
        <a href="#">Über uns</a>
        <a href="#">team</a>
        <a href="#">Kontakt</a>
      </div>
      <div class="col-sm gutter-max">
        <h4>rechtlich</h4>
        <a href="#">security</a>
        <a href="#">Datenschutz</a>
        <a href="#" class="text-uppercase">AGB</a>
      </div>
      <div class="col-sm">
        <h4>sozialen Medien</h4>
        <ul>
          <li>
            <a href="#"><%= image_tag("facebook-icon.png", alt: "facebook icon", class: "s-media-icons")%></a>
          </li>
          <li>
            <a href="#"><%= image_tag("instagram-icon.png", alt: "facebook icon", class: "s-media-icons")%></a>
          </li>
          <li>
            <a href="#"><%= image_tag("linkedin-icon.png", alt: "facebook icon", class: "s-media-icons")%></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
