  <i
    class="fas fa-bars bg-white p-3 rounded-circle position-sticky"
    type="button"
    data-toggle="modal"
    data-target="#exampleModal"
  ></i>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog d-flex justify-content-end m-0" role="document">
    <div class="modal-content full-hight rounded-0">
      <div class="modal-header border-0">
        <div class="modal-title text-rigth" id="exampleModalLabel">
          <img
            class="logo"
            src="assets/bibtome-logo-green.png"
            alt="bibtome logo"
          />
        </div>
      </div>
      <div class="modal-body list">
        <ul class="text-secondary">
          <li class="list-item border-bottom py-2">Shop</li>
          <li class="border-bottom py-2">How it works</li>
          <li class="border-bottom py-2">Dashboard</li>
          <li class="border-bottom py-2">Login</li>
          <li class="border-bottom py-2">Register tag</li>
          <li class="border-bottom py-2">Return item</li>
          <li class="border-bottom py-2 active">Home</li>
        </ul>
      </div>
      <div class="modal-footer border-0 pr-5">
        <button
          type="button"
          class="close mr-5 pr-5"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span class="close-icon" aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>
