<div class="page-title">
  <div class="container">
    <h1>Good to see you!</h1>
    <h2>To register your tag, please enter your code below</h2>
  </div>
</div>

<div class="container">
   <%= form_tag register_input_path, method: :post do %>
    <%= text_field_tag :code,
      params[:code],
      class: "form-control bib-form-styling",
      placeholder: "Enter your code here"
    %>
    <%= submit_tag "Register now", class: "btn btn-bib btn-green btn-form" %>
  <% end %>

</div>
