.logo {
  margin-left: -18px;
  width: 6rem;

  &-white {
    margin-left: -10px;
    margin-top: -1rem;
  }

  // BREAKPOINTS
  @include media-breakpoint-down(sm) {
      width: 14rem;
      margin: 0 auto;
  }
}
