<div class="landing-page">

  <div class="container" >

    <div id="banner-header">
      <h1>bibto.me</h1>
      <h3>bring it back to me</h3>
    </div>
    <div id="banner-slogan">
      <h2>Get your lost items returned easy, fast and secure.</h1>
    </div>

    <div id="lp-btn">
      <%= link_to "Register my tag", "#", class: "btn btn-bib btn-white mb-3 w-75" %>
      <%= link_to "Return item", "#", class: "btn btn-bib btn-grey mb-5 w-75" %>
    </div>

    <div>
      <div>
        <h3 class="text-center w-75 mx-auto mb-5">Choose your tag  and get it shipped</h3>
      </div>

      <div>
        <h3 class="text-center mb-5">Register your tag and attach it to your item</h3>
      </div>

      <div>
        <h3 class="text-center mb-5">When your lost item  is found, get notified</h3>
      </div>
    </div>



  </div>

</div>

