.footer {
  background-color: $dark-blue-1;
  padding: 4rem 0 2rem;

  // BREAPOINT
    @include media-breakpoint-down(sm) {
      padding: 4rem 0;
    }

  h4{
    color: $white;
    font-size: .8rem;
    font-weight: 400;
    text-transform: capitalize;

    // BREAPOINT
    @include media-breakpoint-only(xs) {
      font-size: 1.2rem;
      text-align:center;
    }
  }

  p{
    color: $light-grey;
  }

  a {
    display: block;
    font-weight: 100;
    text-transform: capitalize;
    font-size: .7rem;
    line-height: 2;
    color: $light-grey;

    &:hover {
      color: $light-blue;
      text-decoration: none;
    }

    // BREAPOINT
    @include media-breakpoint-down(sm) {
      font-size: 1.2rem;
      text-align:center;
    }
  }

  ul{
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    width: 70%;

    li{
      list-style-type: none;
    }


    // BREAPOINTS
    @include media-breakpoint-only(xs) {
      margin: 0 auto;
      width: 40%;
    }

    // @include media-breakpoint-down(md) {
    //   width: 40%;
    // }
  }


  &-logo-container {
    @include media-breakpoint-only(xs) {
      display: none;
    }
  }

  .row {
    margin: 0 auto;
  }

  .copyright {
    color: $white;
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: .6rem;
  }

}
