// Specific CSS for your home-page
section:not(:first-child) {
  padding: 4rem 0;

  @include media-breakpoint-down(sm) {
    padding: 3rem 0;
  }
}

.container {
  @include media-breakpoint-between(xs, sm) {
    padding-left: 0;
    padding-right: 0;
  }
}

.home {
  &-header {
    height: 100vh;
    background-color: $light-grey;
    @include media-breakpoint-down(sm) {
      background-color: $dark-blue;
    }
  }


  &-banner {
    margin-top: 5rem;
    @include media-breakpoint-down(sm) {
      margin-top: 1rem;
    }


    .title {
      font-size:1.6rem;
      font-weight: 600;
      color: $dark-blue;
      margin-bottom: 2rem;
      line-height: 1.4;
      @include media-breakpoint-only(xs) {
        text-align: center;
        margin: 10rem 1rem 3rem;
        padding: 0 1rem;
        color: $white;
      }
      @include media-breakpoint-down(sm) {
        font-family: "Quicksand", "Lato", "sans-serif";
        font-size: 2.5rem;
      }
      @include media-breakpoint-only(sm) {
        margin:2rem 0;
        color: $white;
      }
    }

    .info {
      @include media-breakpoint-only(xs) {
        padding: 0;
      }

      .btn {
        @include media-breakpoint-only(sm) {
          width: auto;
          display: inline-block;
          padding-right: 1rem;
          padding-left: 1rem;
        }

        @include media-breakpoint-only(xs) {
          width: 76%;
        }
      }

      .btn-primary {
        @include media-breakpoint-down(sm) {
          background-color: $white;
          color: $dark-blue;
        }
      }

      .btn-outline-primary {
        @include media-breakpoint-down(sm) {
          border-color: $white;
          color: $white;
        }
      }
    }


    .iphone-mockup-container {
      display: flex;
      justify-content: center;

      .iphone-mockup {
        width: 10rem;
        height: 20rem;
        margin-top: -1.6rem;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}


.card-gallery {
  background-color: $light-grey;

  .col-sm:not(:nth-child(2)) {
    @include media-breakpoint-only(sm) {
      padding: 0;
    }
  }

  .btn {
    @include media-breakpoint-only(xs) {
      width: 76%;
      margin-top: 1rem;
    }
  }
}


.section-3 {
  .w-40 {
    width: 40%;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    h2, p, a {
      @include media-breakpoint-down(sm) {
        text-align: center;
      }
    }

    h2 {
      @include media-breakpoint-down(sm) {
        font-size: 1.4rem;
        line-height: 2rem;
      }
      @include media-breakpoint-only(sm) {
        padding-right: 3rem;
        padding-left: 3rem;
      }
    }
  }

  .image-container {
    width: 60%;
    text-align: center;
    @include media-breakpoint-down(sm) {
      display: none;
    }

    .image {
      width: 80%;
    }
  }

  h2 {
    color: $white;
    text-align: left;
    margin-bottom: 0;
  }

  .border-span {
    width: 30%;
    border-bottom: 4px solid $light-blue;
    margin: 1.2rem 0;
    @include media-breakpoint-down(sm) {
      margin: 1rem auto;
    }
  }
}

.carousel-section {
  background-color: $light-grey;
  padding: 3rem 0 !important;

  .carousel-inner {
    p {
        padding: 0 5rem;
        @include media-breakpoint-down(sm) {
          padding: 0;
        }
      }

    .quote-author {
      font-size: .8rem !important;
      margin-top: .6rem;
      margin-bottom: 1rem;
      font-weight: 600;
      color: $black;
      text-transform: capitalize;
      @include media-breakpoint-down(sm) {
        font-size: 1.1rem !important;
      }
    }
  }

  .carousel-indicators {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;

    li {
      background-color: $dark-blue;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
  }
}


.get-start {
  .container {
    .btn {
      @include media-breakpoint-only(xs) {
        width: 76%;
      }
    }
  }
}





