<body class="error-page">
  <div class="error-box-500">
  </div>
  <h5 class="error-text">500 <br> Damn, internal server error.</h5>
  <div class="btn-go-back-error">
    <%= link_to "Back to home", root_path %>
  </div>
</body>
