<body class="error-page">
  <div class="error-box-404">
  </div>
  <h5 class="error-text">Sorry, we didn't find that page.</h5>
  <div class="btn-go-back-error">
    <%= link_to "Back to home", root_path %>
  </div>
</body>
