.user-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto;

  h4 {
    margin: 0;
    color: $white;
  }

  &.large {
    width: 6.5rem;
    height: 6.5rem;
    background-color: $grey;
    @include media-breakpoint-down(sm) {
      width: 3rem;
      height: 3rem;
    }
  }

  &.small {
    width: 18px;
    height: 18px;
    background-color: $pink;

    h4 {
      font-size: .5rem;
    }

  }
}
