.s-media-icons {
  width: 1rem;
  @include media-breakpoint-down(sm) {
    width: 1.5rem;
  }
}


.circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: right;
  margin: 0 auto;

  &-pink {
    background-color: $pink;
  }

  &-blue {
    background-color: $light-blue;
  }

  &-green {
    background-color: $green;
  }

  .c-icon {
    width: 2rem;
    margin-right: -.8rem;
  }

  .ic-filter {
    opacity: .5;
  }
}


.circle-container {
  @include media-breakpoint-down(sm) {
    display: flex;
    justify-content: center;
  }
}


.info-icon {
  width: .8rem;
  margin-right: .2rem;
}

.category-icon {
  width: 1rem;
  margin-left: .5rem;
  margin-right: .2rem;
  margin-top: -3px;
  @include media-breakpoint-down(sm) {
    width: 1.8rem;
    margin-left: 1rem;
    margin-right: .5rem;
    margin-bottom: .6rem;
  }
}



.fa-ellipsis-v {
  font-size: .7rem;
  margin-left: .5rem;
  color: $light-grey-1;
  @include media-breakpoint-down(sm) {
    font-size: 1rem;
    background-color: transparent;
  }

  &:hover {
    color: $light-blue;
    cursor: pointer;
  }
}


.fa-bars {
  font-size: 2.3rem;
  color: $light-grey;
  position: relative;
  top: .3.2rem;
  right: -21.5rem;
  z-index: 2;
}





