.btn-bib {
  padding: 10px 24px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
  color: $white;
  font-family: $headers-font;
  font-size: 22px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.btn-green {
  background: $c1;
}

.btn-grey {
  background: $light-grey;
}

.btn-white {
  background: $white;
  color: $c2;
}

.btn-icon {
  width: 40px;
  background: lightgrey;
  border-radius: 50%;
  transition: background 0.3s ease;
  color: $dark-grey;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.btn-go-back {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  // I add the following 2 lines to fix the position of this button on the pages _ by Ivan
  position: absolute;
  top: -2px;
}

// position go-back button fix on the pages _ by Ivan
.back-arrow-position-fix {
  position: relative;
}

.btn-margin{
  margin: 20px;
}

