
// .category-grid {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 16px;
//   margin-top: 5px;
//   margin-bottom: 10px;
// }


// // for xs and s devices (landscape phones, 576px and up to 767px)
// @media (max-width: 767px) {
//   .category-grid {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // for m, l and xl devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .category-grid {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
