// makes super cool scrolling on a page (landing page)_by Anouk
html {
  scroll-behavior: smooth;
}

h1 {
  font-weight: 700;
}

h2 {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 1.3rem;
  @include media-breakpoint-down(sm) {
    font-size: 1.8rem;
  }
}


h3 {
  font-size: .8rem;
  margin: 1rem 0;
  @include media-breakpoint-down(sm) {
    text-align: center;
    font-size: 1.4rem;
    margin: 1rem .6rem;
  }
}


h4 {
  font-size: .7rem;
  text-align: left;
  @include media-breakpoint-down(sm) {
    font-size: 1.3rem;
  }
}


p {
  margin: 0;
  @include media-breakpoint-down(sm) {
    text-align: center;
    font-size: 1.4rem;
  }
}


.link {
  font-weight: 500;
  display: block;
  margin-top: .6rem;
  font-family: 'Prompt', 'Poppins', sans-serif;
  @include media-breakpoint-down(sm) {
    text-align: center;
    font-size: 1.4rem;
  }

  &:hover {
    text-decoration: none;
  }

}


.d-none-helper {
  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}


.container {
  @include media-breakpoint-only(sm) {
    max-width: 85%;
    padding-left: 0;
    padding-right: 0;
  }
}

.gutter-max {
  @include media-breakpoint-down(sm) {
    margin-bottom: 2rem;
  }
}

.gutter-min {
  @include media-breakpoint-down(sm) {
    margin-bottom: 1rem;
  }
}


.custom-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  @include media-breakpoint-only(sm) {
    grid-template-columns: 1fr;
  }
}


.info-container {
  margin-top: 2rem;
  @include media-breakpoint-down(sm) {
    display: none;
  }

  span {
    font-size: .7rem;
    color: $light-blue;
  }
}


.errors {
  font-size: .7rem;
  color: $red;
  margin-bottom: .5rem;
}



