.landing-page {
  // background-size: cover;
  // background-position: center;
  padding: 40px 10px;
  background-color: $c1;
}


.landing-page #banner-header {
  margin: 0;
}

.landing-page #banner-header h1 {
  font-family: $logo-font;
  color: $c3;
  font-size: 48px;
}

.landing-page #banner-header h3 {
  font-family: $logo-font;
  color: $light-grey;
  font-size: 22px;
  margin: none;
}

.landing-page #banner-slogan h1 {
  margin-top: 50px;
  color: $white;
  margin-bottom: 110px;
  font-size: 36px;

}

.landing-page #lp-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#down-angle{
  font-size: 34px;
  text-align: center;
}












