.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid lightgrey;
  border-radius: 50px;
}

.search-form-control .form-control:focus {
  border: 1px solid $c1;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.bib-form-styling {
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid lightgrey;
  border-radius: 50px;
  padding-top: 26px;
  padding-bottom: 26px;
  margin-top: 20px;
  // margin-bottom: 20px;
}

.btn-form{
  width: 100%;
}

#search-btn {
  padding: 0 15px;
}

// simple form: for the little tick boxes, e.g. remember me
.form-check{
 margin-left: 10px;
 margin-top: 5px;
}

// simple form: for the little info text underneath the input forms, e.g. 6 characters minimum
.form-text{
  margin-left: 15px;
}

#finder_message{
  border-radius: 15px;
}

.invalid-feedback {
  margin-left: 15px;
}



