// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


// Your CSS partials
@import "components/index";
@import "pages/index";


// makes super cool scrolling on a page (landing page)_by Anouk
html {
  scroll-behavior: smooth;
}

h1 {
  font-weight: 100;
  letter-spacing: .5px;

  // BREAKPOINTS
  @include media-breakpoint-only(sm) {
    font-size: 2rem;
  }

  @include media-breakpoint-only(xs) {
    font-size: 1.7rem;
  }
}

h2 {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 1.4rem;

  // BREAKPOINT
  @include media-breakpoint-down(sm) {
    // margin-bottom: 1.3rem;
    font-size: 1.6rem;
  }
}


h3 {
  font-size: .9rem;
  margin: 1rem 0;
  font-weight: 500;

  // BREAKPOINT
  @include media-breakpoint-only(xs) {
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem .6rem;
  }
}


h4 {
  font-size: .7rem;
  text-align: left;

  // BREAKPOINT
  @include media-breakpoint-only(xs) {
    font-size: 1.15rem;
  }
}


p {
  margin: 0;

  // BREAKPOINT
  @include media-breakpoint-down(sm) {
    text-align: center;
    font-size: 1.2rem;
  }
}


.link {
  font-weight: 600;
  display: block;
  margin-top: .6rem;
  font-family: 'Montserrat', 'Poppins', sans-serif;

  &:hover {
    text-decoration: none;
  }

  // BREAKPOINT
  @include media-breakpoint-down(sm) {
    text-align: center;
    font-size: 1rem;

  }
}


.d-none-helper {
  // BREAKPOINT
  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}


// BREAKPOINTS FOR ALL THE OTHER CLASSES
.container:not(.container-margin-helper) {
  @include media-breakpoint-down(sm) {
    padding: 0 2rem;
  }
}

.gutter-max {
  @include media-breakpoint-down(sm) {
    margin-bottom: 2rem;
  }
}

.gutter-min {
  @include media-breakpoint-down(sm) {
    margin-bottom: 1rem;
  }
}


.custom-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
}

// MEDIA-QUERIES
// ** Tablet **
@media only screen and (min-width: 425px) and (max-width: 834px) {
  h3, h4, p, .link, .quote-author, .footer h4 {
    font-size: 1rem;
  }

  .card-gallery h4 {
    font-size: .8rem;
  }


  .footer a {
    font-size: .9rem;
  }

  .footer ul {
    width: 70%;
  }



  .container {
    padding: 0 2rem;
  }


  .home-header {
    height: 55vh;
  }


  .carousel-inner p {
    padding: 0 4rem;
  }


  .get-start .link{
    font-family: 'Montserrat', sans-serif;
  }


  .btn {
    font-size: .6rem;
  }


  .section-3 {

    .w-40 {
      width: 100%;

      h2, p, a {
        text-align: center;
      }

      h2 {
        font-size: 1.4rem;
      }
    }

    .image-container {
      display: none;
    }

    .border-span {
      margin: 1rem auto;
    }
  }

}








