<!-- Shared Navbar -->
<%= render "shared/navbar_shared" %>

<div class="auth-session finder-input d-on-sm bg-white">
  <div class="auth-session-container text-center">
    <h2 class="text-center">Thank you</h2>
    <h3>You just made the world a better place!</h3>
    <p>We notified <b><%= @tag.user.first_name %></b> with your contact details.</p>
    <h3 class="mt-5 mb-3">What is <b>bibto.me</b>?</h3>
    <%= link_to "Check it out", root_path, class: "btn btn-primary" %>
  </div>
</div>

