<div class="container text-center mt-5">
<i class="fas fa-hand-holding-heart text-center" style= "font-size: 50px;"></i>

  <h2 class="mt-4">You are a great human being</h2>

  <p>Your honest and upright behavoir made this world better</p>

  <h3>If you want to know more about our mission and service then click the button below</h3>

  <a href="/">Learn more (Home)</a>
</div>
